.main {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: black;
    grid-template-rows: 50vh 20vh;
    grid-template-areas: "title banner" 
                         "slider banner";
}

.main h1 {
    color: white;
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.title h1 {
    font-size: 60px;
}

.title a {
    width: 50%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    grid-area: banner;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.c-banner {
    width: 80%;
    height: 590px;
    border-radius: 20px;
    object-fit: cover; 
}

.container-img{
    grid-area: slider;
    display: flex;
    width: 100%;
    justify-content: center;
}

.slider {
    display: inline;
    margin-left: 30px;
}

.slider img{
    width: 100%;
}

.slider .active {
    border: 3px solid white;
}

@media (max-width: 1024px) {

    .main {
      height: 90vh;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "title" "banner" "slider";
    }

    .slider {
        width: 100%;
    }

    .slider img {
        width: 100px;
    }

    .right {
        width: 90%;
        height: 350px;
        margin: auto;
    }

    .right img{
        width: 80%;
        height: 85%;
    }

  }